openapi: "3.0.1"
info:
  title: "FireHydrant MCP Server"
  description: "An MCP server for interacting with FireHydrant's API."
  version: "0.0.1"
servers:
  - url: "https://api.firehydrant.io/"
security:
  - api_key: []
tags:
  - name: "Call Routes"
    description: "Operations about Call Routes"
  - name: "Audit Events"
    description: "Operations about Audit Events"
  - name: "Account Settings"
    description: "Operations related to Account Settings"
  - name: "Alerts"
    description: "Operations related to Alerts"
  - name: "Audiences"
    description: "Operations related to Audiences"
  - name: "Changes"
    description: "Operations related to Changes"
  - name: "Communication"
    description: "Operations related to Communication"
  - name: "Conversations"
    description: "Operations related to Conversations"
  - name: "Incidents"
    description: "Operations related to Incidents"
  - name: "Incident Settings"
    description: "Operations related to Incident Settings"
  - name: "Integrations"
    description: "Operations related to Integrations"
  - name: "Metrics/Reporting"
    description: "Operations related to Metrics & Reporting"
  - name: "Retrospectives"
    description: "Operations related to Retrospectives"
  - name: "Runbooks"
    description: "Operations related to Runbooks"
  - name: "SCIM"
    description: "Operations related to SCIM"
  - name: "Catalog Entries"
    description: "Operations related to Catalog Entries"
  - name: "Signals"
    description: "Operations related to Signals"
  - name: "Status Pages"
    description: "Operations related to Status Pages"
  - name: "Tasks"
    description: "Operations related to Tasks"
  - name: "Teams"
    description: "Operations related to Teams"
  - name: "Ticketing"
    description: "Operations related to Ticketing"
  - name: "Users"
    description: "Operations related to Users"
  - name: "Webhooks"
    description: "Operations related to Webhooks"
paths:
  "/v1/ping": {}
  "/v1/environments": {}
  "/v1/environments/{environment_id}": {}
  "/v1/services": {}
  "/v1/services/service_links": {}
  "/v1/services/{service_id}": {}
  "/v1/services/{service_id}/dependencies": {}
  "/v1/services/{service_id}/available_upstream_dependencies": {}
  "/v1/services/{service_id}/available_downstream_dependencies": {}
  "/v1/services/{service_id}/service_links/{remote_id}": {}
  "/v1/services/{service_id}/checklist_response/{checklist_id}": {}
  "/v1/service_dependencies": {}
  "/v1/service_dependencies/{service_dependency_id}": {}
  "/v1/functionalities": {}
  "/v1/functionalities/{functionality_id}": {}
  "/v1/functionalities/{functionality_id}/services": {}
  "/v1/teams": {}
  "/v1/teams/{team_id}": {}
  "/v1/teams/{team_id}/call_routes": {}
  "/v1/teams/{team_id}/escalation_policies": {}
  "/v1/teams/{team_id}/escalation_policies/{id}": {}
  "/v1/teams/{team_id}/on_call_schedules": {}
  "/v1/teams/{team_id}/on_call_schedules/{schedule_id}": {}
  "/v1/teams/{team_id}/on_call_schedules/{schedule_id}/shifts": {}
  "/v1/teams/{team_id}/on_call_schedules/{schedule_id}/shifts/{id}": {}
  "/v1/teams/{team_id}/signal_rules": {}
  "/v1/teams/{team_id}/signal_rules/{id}": {}
  "/v1/changes": {}
  "/v1/changes/{change_id}": {}
  "/v1/changes/{change_id}/identities": {}
  "/v1/changes/{change_id}/identities/{identity_id}": {}
  "/v1/changes/events": {}
  "/v1/changes/events/{change_event_id}": {}
  "/v1/change_types": {}
  "/v1/entitlements": {}
  "/v1/incidents":
    get:
      tags:
        - "Incidents"
      summary: "List incidents"
      description: "List all of the incidents in the organization"
      operationId: "list_incidents"
      parameters:
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "per_page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "conditions"
          in: "query"
          description: "A JSON string that defines 'logic' and 'user_data'"
          schema:
            type: "string"
            nullable: true
        - name: "environments"
          in: "query"
          description: "A comma separated list of environment IDs or 'is_empty' to filter for incidents with no impacted environments"
          schema:
            type: "string"
            nullable: true
        - name: "services"
          in: "query"
          description: "A comma separated list of service IDs or 'is_empty' to filter for incidents with no impacted services"
          schema:
            type: "string"
            nullable: true
        - name: "functionalities"
          in: "query"
          description: "A comma separated list of functionality IDs or 'is_empty' to filter for incidents with no impacted functionalities"
          schema:
            type: "string"
            nullable: true
        - name: "excluded_infrastructure_ids"
          in: "query"
          description: "A comma separated list of infrastructure IDs. Returns incidents that do not have the following infrastructure ids associated with them."
          schema:
            type: "string"
            nullable: true
        - name: "teams"
          in: "query"
          description: "A comma separated list of team IDs"
          schema:
            type: "string"
            nullable: true
        - name: "assigned_teams"
          in: "query"
          description: "A comma separated list of IDs for assigned teams or 'is_empty' to filter for incidents with no active team assignments"
          schema:
            type: "string"
            nullable: true
        - name: "status"
          in: "query"
          description: "Incident status"
          schema:
            type: "string"
            nullable: true
        - name: "start_date"
          in: "query"
          description: "Filters for incidents that started on or after this date"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "end_date"
          in: "query"
          description: "Filters for incidents that started on or before this date"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "resolved_at_or_after"
          in: "query"
          description: "Filters for incidents that were resolved at or after this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active."
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "resolved_at_or_before"
          in: "query"
          description: "Filters for incidents that were resolved at or before this time. Combine this with the `current_milestones` parameter if you wish to omit incidents that were re-opened and are still active."
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "closed_at_or_after"
          in: "query"
          description: "Filters for incidents that were closed at or after this time"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "closed_at_or_before"
          in: "query"
          description: "Filters for incidents that were closed at or before this time"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "created_at_or_after"
          in: "query"
          description: "Filters for incidents that were created at or after this time"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "created_at_or_before"
          in: "query"
          description: "Filters for incidents that were created at or before this time"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "query"
          in: "query"
          description: "A text query for an incident that searches on name, summary, and desciption"
          schema:
            type: "string"
            nullable: true
        - name: "name"
          in: "query"
          description: "A query to search incidents by their name"
          schema:
            type: "string"
            nullable: true
        - name: "saved_search_id"
          in: "query"
          description: "The id of a previously saved search."
          schema:
            type: "string"
            nullable: true
        - name: "priorities"
          in: "query"
          description: "A text value of priority"
          schema:
            type: "string"
            nullable: true
        - name: "priority_not_set"
          in: "query"
          description: "Flag for including incidents where priority has not been set"
          schema:
            type: "boolean"
            nullable: true
        - name: "severities"
          in: "query"
          description: "A text value of severity"
          schema:
            type: "string"
            nullable: true
        - name: "severity_not_set"
          in: "query"
          description: "Flag for including incidents where severity has not been set"
          schema:
            type: "boolean"
            nullable: true
        - name: "current_milestones"
          in: "query"
          description: "A comma separated list of current milestones"
          schema:
            type: "string"
            nullable: true
        - name: "tags"
          in: "query"
          description: "A comma separated list of tags"
          schema:
            type: "string"
            nullable: true
        - name: "tag_match_strategy"
          in: "query"
          description: "A matching strategy for the tags provided"
          schema:
            type: "string"
            nullable: true
            enum:
              - "any"
              - "match_all"
              - "exclude"
        - name: "archived"
          in: "query"
          description: "Return archived incidents"
          schema:
            type: "boolean"
            nullable: true
        - name: "updated_after"
          in: "query"
          description: "Filters for incidents that were updated after this date"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "updated_before"
          in: "query"
          description: "Filters for incidents that were updated before this date"
          schema:
            type: "string"
            format: "date-time"
            nullable: true
        - name: "incident_type_id"
          in: "query"
          description: "A comma separated list of incident type IDs"
          schema:
            type: "string"
            nullable: true
        - name: "retrospective_templates"
          in: "query"
          description: "A comma separated list of retrospective template IDs"
          schema:
            type: "string"
            nullable: true
      responses:
        "200":
          description: "List all of the incidents in the organization"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IncidentEntityPaginated"}
      x-speakeasy-mcp: {"disabled": false}
    post:
      tags:
        - "Incidents"
      summary: "Create an incident"
      description: "Create a new incident"
      operationId: "create_incident"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/create_incident"}
        required: true
      responses:
        "201":
          description: "Create a new incident"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IncidentEntity"}
      x-codegen-request-body-name: "create_incident"
      x-speakeasy-mcp: {"disabled": false}
  "/v1/incidents/{incident_id}/channel": {}
  "/v1/incidents/{incident_id}/close": {}
  "/v1/incidents/{incident_id}/resolve": {}
  "/v1/incidents/{incident_id}": {}
  "/v1/incidents/{incident_id}/unarchive": {}
  "/v1/incidents/{incident_id}/alerts": {}
  "/v1/incidents/{incident_id}/alerts/{incident_alert_id}/primary": {}
  "/v1/incidents/{incident_id}/alerts/{incident_alert_id}": {}
  "/v1/incidents/{incident_id}/milestones/bulk_update": {}
  "/v1/incidents/{incident_id}/milestones": {}
  "/v1/incidents/{incident_id}/related_change_events": {}
  "/v1/incidents/{incident_id}/related_change_events/{related_change_event_id}": {}
  "/v1/incidents/{incident_id}/status_pages": {}
  "/v1/incidents/{incident_id}/status_pages/{status_page_id}": {}
  "/v1/incidents/{incident_id}/task_lists": {}
  "/v1/incidents/{incident_id}/tasks": {}
  "/v1/incidents/{incident_id}/tasks/{task_id}": {}
  "/v1/incidents/{incident_id}/tasks/{task_id}/convert": {}
  "/v1/incidents/{incident_id}/links": {}
  "/v1/incidents/{incident_id}/links/{link_id}": {}
  "/v1/incidents/{incident_id}/transcript/attribution": {}
  "/v1/incidents/{incident_id}/transcript": {}
  "/v1/incidents/{incident_id}/transcript/{transcript_id}": {}
  "/v1/incidents/{incident_id}/conference_bridges": {}
  "/v1/incidents/{incident_id}/conference_bridges/{id}/translations/{language_code}": {}
  "/v1/incidents/{incident_id}/similar": {}
  "/v1/incidents/{incident_id}/attachments": {}
  "/v1/incidents/{incident_id}/events": {}
  "/v1/incidents/{incident_id}/events/{event_id}": {}
  "/v1/incidents/{incident_id}/events/{event_id}/votes/status": {}
  "/v1/incidents/{incident_id}/events/{event_id}/votes": {}
  "/v1/incidents/{incident_id}/impact": {}
  "/v1/incidents/{incident_id}/impact/{type}": {}
  "/v1/incidents/{incident_id}/impact/{type}/{id}": {}
  "/v1/incidents/{incident_id}/notes": {}
  "/v1/incidents/{incident_id}/notes/{note_id}": {}
  "/v1/incidents/{incident_id}/generic_chat_messages": {}
  "/v1/incidents/{incident_id}/generic_chat_messages/{message_id}": {}
  "/v1/incidents/{incident_id}/role_assignments": {}
  "/v1/incidents/{incident_id}/role_assignments/{role_assignment_id}": {}
  "/v1/incidents/{incident_id}/team_assignments": {}
  "/v1/incidents/{incident_id}/team_assignments/{team_assignment_id}": {}
  "/v1/incidents/{incident_id}/users/{user_id}": {}
  "/v1/incidents/{incident_id}/relationships": {}
  "/v1/incidents/{incident_id}/retrospectives/share": {}
  "/v1/incidents/{incident_id}/retrospectives/export": {}
  "/v1/incidents/{incident_id}/retrospectives":
    get:
      tags:
        - "Retrospectives"
      summary: "All attached retrospectives for an incident"
      description: "Retrieve retrospectives attached to an incident"
      operationId: "list_incident_retrospectives"
      parameters:
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "per_page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "is_hidden"
          in: "query"
          description: "Filter by hidden status."
          schema:
            type: "boolean"
            nullable: true
        - name: "incident_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieve retrospectives attached to an incident"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Incidents_RetrospectiveEntityPaginated"}
      x-speakeasy-mcp: {"disabled": false, "description": "Lists all retrospectives (RCAs) for an incident. Among other things, this is useful for:\n\n  - Getting a list of retrospectives for an incident,\n  - Getting basic data about a retrospective.\n  - Getting the fields of a retrospective.\n"}
  "/v1/incidents/{incident_id}/retrospectives/{retrospective_id}": {}
  "/v1/incidents/{incident_id}/retrospectives/{retrospective_id}/fields": {}
  "/v1/incidents/{incident_id}/retrospectives/{retrospective_id}/fields/{field_id}":
    patch:
      tags:
        - "Retrospectives"
      summary: "Update the value on a retrospective field"
      description: "Update retrospective field value"
      operationId: "update_incident_retrospective_field"
      parameters:
        - name: "retrospective_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "field_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "incident_id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/update_incident_retrospective_field"}
        required: true
      responses:
        "200":
          description: "Update retrospective field value"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Incidents_RetrospectiveFieldEntity"}
      x-codegen-request-body-name: "update_incident_retrospective_field"
      x-speakeasy-mcp: {"disabled": false, "description": "Updates a field in a retrospective (RCA) for an incident. Among other things, this is useful for:\n\n  - Updating a field in a retrospective,\n  - Updating the value of a field in a retrospective.\n\nThe value should be unstyled HTML.\n"}
  "/v1/incidents/{incident_id}/retrospectives/{retrospective_id}/fields/{field_id}/inputs": {}
  "/v1/incident_roles": {}
  "/v1/incident_roles/{incident_role_id}": {}
  "/v1/incident_tags/validate": {}
  "/v1/incident_tags": {}
  "/v1/incident_types": {}
  "/v1/incident_types/{id}": {}
  "/v1/integrations": {}
  "/v1/integrations/{integration_id}": {}
  "/v1/integrations/field_maps/{field_map_id}": {}
  "/v1/integrations/field_maps/{field_map_id}/available_fields": {}
  "/v1/integrations/authed_providers/{integration_slug}/{connection_id}": {}
  "/v1/integrations/authed_providers/{integration_slug}/{connection_id}/{authed_provider_id}": {}
  "/v1/integrations/connections": {}
  "/v1/integrations/connections/{slug}": {}
  "/v1/integrations/connections/{slug}/{connection_id}/refresh": {}
  "/v1/integrations/connections/{slug}/{connection_id}": {}
  "/v1/integrations/statuses": {}
  "/v1/integrations/statuses/{slug}": {}
  "/v1/integrations/statuses/{slug}/{by_connection_id}": {}
  "/v1/integrations/aws/connections": {}
  "/v1/integrations/aws/connections/{id}": {}
  "/v1/integrations/aws/cloudtrail_batches": {}
  "/v1/integrations/aws/cloudtrail_batches/{id}": {}
  "/v1/integrations/aws/cloudtrail_batches/{id}/events": {}
  "/v1/integrations/confluence_cloud/connections/{id}/space/search": {}
  "/v1/integrations/slack/connections/{connection_id}/workspaces": {}
  "/v1/integrations/slack/usergroups": {}
  "/v1/integrations/slack/connections/{connection_id}/emoji_actions": {}
  "/v1/integrations/slack/connections/{connection_id}/emoji_actions/{emoji_action_id}": {}
  "/v1/integrations/statuspage/connections": {}
  "/v1/integrations/statuspage/connections/{connection_id}": {}
  "/v1/integrations/statuspage/connections/{connection_id}/pages": {}
  "/v1/integrations/zendesk/{connection_id}/tickets/search": {}
  "/v1/integrations/zendesk/search": {}
  "/v1/users": {}
  "/v1/users/{id}": {}
  "/v1/users/{id}/services": {}
  "/v1/current_user": {}
  "/v1/reports/mean_time": {}
  "/v1/retrospectives": {}
  "/v1/metrics/ticket_funnel": {}
  "/v1/metrics/retrospectives": {}
  "/v1/metrics/milestone_funnel": {}
  "/v1/metrics/user_involvements": {}
  "/v1/metrics/incidents": {}
  "/v1/metrics/mttx": {}
  "/v1/metrics/{infra_type}": {}
  "/v1/metrics/{infra_type}/{infra_id}": {}
  "/v1/runbooks/actions": {}
  "/v1/runbooks/executions": {}
  "/v1/runbooks/executions/{execution_id}": {}
  "/v1/runbooks/executions/{execution_id}/steps/{step_id}": {}
  "/v1/runbooks/executions/{execution_id}/steps/{step_id}/script": {}
  "/v1/runbooks/executions/{execution_id}/steps/{step_id}/script/{state}": {}
  "/v1/runbooks/select_options/{integration_slug}/{action_slug}/{field}": {}
  "/v1/runbooks": {}
  "/v1/runbooks/{runbook_id}": {}
  "/v1/runbook_audits": {}
  "/v1/audit_events": {}
  "/v1/audit_events/{id}": {}
  "/v1/nunc_connections": {}
  "/v1/nunc_connections/{nunc_connection_id}/subscribers": {}
  "/v1/nunc_connections/{nunc_connection_id}": {}
  "/v1/nunc_connections/{nunc_connection_id}/component_groups/{group_id}": {}
  "/v1/nunc_connections/{nunc_connection_id}/component_groups": {}
  "/v1/nunc_connections/{nunc_connection_id}/links/{link_id}": {}
  "/v1/nunc_connections/{nunc_connection_id}/links": {}
  "/v1/nunc_connections/{nunc_connection_id}/images/{type}": {}
  "/v1/saved_searches/{resource_type}/{saved_search_id}": {}
  "/v1/saved_searches/{resource_type}": {}
  "/v1/lifecycles/measurement_definitions": {}
  "/v1/lifecycles/measurement_definitions/{measurement_definition_id}": {}
  "/v1/lifecycles/phases": {}
  "/v1/lifecycles/milestones": {}
  "/v1/lifecycles/milestones/{milestone_id}": {}
  "/v1/priorities": {}
  "/v1/priorities/{priority_slug}": {}
  "/v1/severities": {}
  "/v1/severities/{severity_slug}": {}
  "/v1/severity_matrix": {}
  "/v1/severity_matrix/conditions": {}
  "/v1/severity_matrix/conditions/{condition_id}": {}
  "/v1/severity_matrix/impacts": {}
  "/v1/severity_matrix/impacts/{impact_id}": {}
  "/v1/scheduled_maintenances": {}
  "/v1/scheduled_maintenances/{scheduled_maintenance_id}": {}
  "/v1/schedules": {}
  "/v1/infrastructures": {}
  "/v1/nunc/subscriptions/{unsubscribe_token}": {}
  "/v1/nunc/subscriptions": {}
  "/v1/status_update_templates": {}
  "/v1/status_update_templates/{status_update_template_id}": {}
  "/v1/custom_fields/definitions/{field_id}": {}
  "/v1/custom_fields/definitions": {}
  "/v1/custom_fields/definitions/{field_id}/select_options": {}
  "/v1/post_mortems/reports": {}
  "/v1/post_mortems/reports/{report_id}": {}
  "/v1/post_mortems/reports/{report_id}/reasons": {}
  "/v1/post_mortems/reports/{report_id}/reasons/{reason_id}": {}
  "/v1/post_mortems/reports/{report_id}/reasons/order": {}
  "/v1/post_mortems/reports/{report_id}/publish": {}
  "/v1/post_mortems/reports/{report_id}/fields/{field_id}": {}
  "/v1/post_mortems/questions": {}
  "/v1/post_mortems/questions/{question_id}": {}
  "/v1/retrospective_templates": {}
  "/v1/retrospective_templates/{retrospective_template_id}": {}
  "/v1/alerts":
    get:
      tags:
        - "Alerts"
      summary: "List alerts"
      description: "Retrieve all alerts from third parties"
      operationId: "list_alerts"
      parameters:
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "per_page"
          in: "query"
          schema:
            type: "integer"
            format: "int32"
            nullable: true
        - name: "query"
          in: "query"
          description: "A text query for alerts"
          schema:
            type: "string"
            nullable: true
        - name: "users"
          in: "query"
          description: "A comma separated list of user IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "teams"
          in: "query"
          description: "A comma separated list of team IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "signal_rules"
          in: "query"
          description: "A comma separated list of signals rule IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "environments"
          in: "query"
          description: "A comma separated list of environment IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "functionalities"
          in: "query"
          description: "A comma separated list of functionality IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "services"
          in: "query"
          description: "A comma separated list of service IDs. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "tags"
          in: "query"
          description: "A comma separated list of tags. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
        - name: "tag_match_strategy"
          in: "query"
          description: "The strategy to match tags. `any` will return alerts that have at least one of the supplied tags, `match_all` will return only alerts that have all of the supplied tags, and `exclude` will only return alerts that have none of the supplied tags. This currently only works for Signals alerts."
          schema:
            type: "string"
            nullable: true
            enum:
              - "any"
              - "match_all"
              - "exclude"
        - name: "statuses"
          in: "query"
          description: "A comma separated list of statuses to filter by. Valid statuses are: opened, acknowledged, resolved, ignored, expired, or linked"
          schema:
            type: "string"
            nullable: true
      responses:
        "200":
          description: "Retrieve all alerts from third parties"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Alerts_AlertEntityPaginated"}
      x-speakeasy-mcp: {"disabled": false}
  "/v1/alerts/{alert_id}": {}
  "/v1/processing_log_entries": {}
  "/v1/ticketing/tickets": {}
  "/v1/ticketing/tickets/{ticket_id}": {}
  "/v1/ticketing/projects": {}
  "/v1/ticketing/projects/{ticketing_project_id}": {}
  "/v1/ticketing/projects/{ticketing_project_id}/configuration_options": {}
  "/v1/ticketing/projects/{ticketing_project_id}/configuration_options/options_for/{field_id}": {}
  "/v1/ticketing/projects/{ticketing_project_id}/field_maps/available_fields": {}
  "/v1/ticketing/projects/{ticketing_project_id}/field_maps": {}
  "/v1/ticketing/projects/{ticketing_project_id}/field_maps/{map_id}": {}
  "/v1/ticketing/projects/{ticketing_project_id}/inbound_field_maps/available_fields": {}
  "/v1/ticketing/projects/{ticketing_project_id}/inbound_field_maps": {}
  "/v1/ticketing/projects/{ticketing_project_id}/inbound_field_maps/{map_id}": {}
  "/v1/ticketing/projects/{ticketing_project_id}/provider_project_configurations": {}
  "/v1/ticketing/projects/{ticketing_project_id}/provider_project_configurations/{config_id}": {}
  "/v1/ticketing/priorities": {}
  "/v1/ticketing/priorities/{id}": {}
  "/v1/ticketing/ticket_tags": {}
  "/v1/task_lists": {}
  "/v1/task_lists/{task_list_id}": {}
  "/v1/noauth/ping": {}
  "/v1/scim/v2/Groups/{id}": {}
  "/v1/scim/v2/Groups": {}
  "/v1/scim/v2/Users/{id}": {}
  "/v1/scim/v2/Users": {}
  "/v1/catalogs/{catalog_id}/refresh": {}
  "/v1/catalogs/{catalog_id}/ingest": {}
  "/v1/checklist_templates": {}
  "/v1/checklist_templates/{id}": {}
  "/v1/bootstrap": {}
  "/v1/form_configurations/{slug}/append_data_on_select/{field_id}/{selected_value}": {}
  "/v1/form_configurations/{slug}": {}
  "/v1/conversations/{conversation_id}/comments/{comment_id}/reactions/{reaction_id}": {}
  "/v1/conversations/{conversation_id}/comments/{comment_id}/reactions": {}
  "/v1/conversations/{conversation_id}/comments/{comment_id}": {}
  "/v1/conversations/{conversation_id}/comments": {}
  "/v1/signals/alerts/{id}": {}
  "/v1/signals/analytics/timeseries": {}
  "/v1/signals/analytics/grouped_metrics": {}
  "/v1/signals/analytics/mttx": {}
  "/v1/signals/analytics/noise/metrics": {}
  "/v1/signals/analytics/shifts/export": {}
  "/v1/signals/call_routes": {}
  "/v1/signals/call_routes/{id}": {}
  "/v1/signals/event_sources": {}
  "/v1/signals/event_sources/{transposer_slug}": {}
  "/v1/signals/hacker_mode": {}
  "/v1/signals/grouping": {}
  "/v1/signals/grouping/{id}": {}
  "/v1/signals/email_targets": {}
  "/v1/signals/email_targets/{id}": {}
  "/v1/signals/webhook_targets": {}
  "/v1/signals/webhook_targets/{id}": {}
  "/v1/signals/notification_policy_items": {}
  "/v1/signals/notification_policy_items/{id}": {}
  "/v1/signals/transposers": {}
  "/v1/signals/ingest_url": {}
  "/v1/signals/debugger": {}
  "/v1/signals_on_call": {}
  "/v1/webhooks": {}
  "/v1/webhooks/{webhook_id}/deliveries": {}
  "/v1/webhooks/{webhook_id}": {}
  "/v1/ai/summarize_incident/{incident_id}/{generated_summary_id}/voted": {}
  "/v1/ai/summarize_incident/{incident_id}/{generated_summary_id}/vote": {}
  "/v1/ai/preferences": {}
  "/v1/audiences": {}
  "/v1/audiences/{audience_id}": {}
  "/v1/audiences/{audience_id}/restore": {}
  "/v1/audiences/member/{member_id}/default": {}
  "/v1/audiences/{audience_id}/summaries/{incident_id}": {}
  "/v1/audiences/summaries/{incident_id}": {}
components:
  schemas:
    "ErrorEntity":
      type: "object"
      properties:
        "detail":
          type: "string"
          nullable: true
        "messages":
          type: "array"
          nullable: true
          items:
            type: "string"
        "meta":
          type: "object"
          description: "An object with additional error metadata"
          nullable: true
        "code":
          type: "string"
          description: "A stable code on which to match errors"
          nullable: true
      description: "ErrorEntity model"
    "PongEntity":
      type: "object"
      properties:
        "response":
          type: "string"
          nullable: true
        "actor": {"$ref": "#/components/schemas/NullableActorEntity"}
        "organization": {"$ref": "#/components/schemas/NullableOrganizationEntity"}
      description: "PongEntity model"
    "ActorEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "email":
          type: "string"
          nullable: true
        "type":
          type: "string"
          nullable: true
          enum:
            - "firehydrant_user"
            - "firehydrant_bot"
            - "alertmanager"
            - "asana"
            - "aws"
            - "bugsnag"
            - "checkly"
            - "custom_alerts"
            - "datadog"
            - "shortcut"
            - "new_relic"
            - "nunc"
            - "github"
            - "giphy"
            - "google_meet"
            - "google_calendar"
            - "microsoft_teams"
            - "microsoft_teams_v2"
            - "webex"
            - "jira_cloud"
            - "jira_onprem"
            - "opsgenie"
            - "pager_duty"
            - "honeycomb"
            - "patchy"
            - "service_now"
            - "signals"
            - "slack"
            - "statuspage"
            - "victorops"
            - "zendesk"
            - "zoom"
            - "confluence_cloud"
            - "google_docs"
            - "zoom_v2"
            - "linear"
            - "cortex"
    "OrganizationEntity":
      type: "object"
      properties:
        "name":
          type: "string"
          nullable: true
        "id":
          type: "string"
          nullable: true
    "create_environment":
      required:
        - "name"
      type: "object"
      properties:
        "name":
          type: "string"
        "description":
          type: "string"
          nullable: true
      description: "Creates an environment for the organization"
    "EnvironmentEntryEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          description: "UUID of the Environment"
          nullable: true
        "name":
          type: "string"
          description: "Name of the Environment"
          nullable: true
        "slug":
          type: "string"
          description: "Slug of the Environment"
          nullable: true
        "description":
          type: "string"
          description: "Description of the Environment"
          nullable: true
        "updated_at":
          type: "string"
          description: "The time the environment was updated"
          format: "date-time"
          nullable: true
        "created_at":
          type: "string"
          description: "The time the environment was created"
          format: "date-time"
          nullable: true
        "active_incidents":
          type: "array"
          description: "List of active incident guids"
          nullable: true
          items:
            type: "string"
        "external_resources":
          type: "array"
          description: "Information about known linkages to representations of services outside of FireHydrant."
          nullable: true
          items: {"$ref": "#/components/schemas/ExternalResourceEntity"}
      description: "EnvironmentEntryEntity model"
    "ExternalResourceEntity":
      type: "object"
      properties:
        "connection_type":
          type: "string"
          nullable: true
        "connection_name":
          type: "string"
          nullable: true
        "connection_full_favicon_url":
          type: "string"
          nullable: true
        "connection_id":
          type: "string"
          nullable: true
        "remote_id":
          type: "string"
          nullable: true
        "remote_url":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "name":
          type: "string"
          nullable: true
    "EnvironmentEntryEntityPaginated":
      type: "object"
      properties:
        "data":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/EnvironmentEntryEntity"}
        "pagination": {"$ref": "#/components/schemas/NullablePaginationEntity"}
      description: "EnvironmentEntryEntityPaginated model"
    "PaginationEntity":
      type: "object"
      properties:
        "count":
          type: "integer"
          format: "int32"
          nullable: true
        "page":
          type: "integer"
          format: "int32"
          nullable: true
        "items":
          type: "integer"
          format: "int32"
          nullable: true
        "pages":
          type: "integer"
          format: "int32"
          nullable: true
        "last":
          type: "integer"
          format: "int32"
          nullable: true
        "prev":
          type: "integer"
          format: "int32"
          nullable: true
        "next":
          type: "integer"
          format: "int32"
          nullable: true
    "update_environment":
      required:
        - "name"
      type: "object"
      properties:
        "name":
          type: "string"
        "description":
          type: "string"
          nullable: true
      description: "Update a environments attributes"
    "create_service":
      required:
        - "name"
      type: "object"
      properties:
        "name":
          type: "string"
        "description":
          type: "string"
          nullable: true
        "labels":
          type: "object"
          additionalProperties:
            type: "string"
          description: "A hash of label keys and values"
          nullable: true
        "service_tier":
          type: "integer"
          description: "Integer representing service tier. Lower values represent higher criticality. If not specified the default value will be 5."
          format: "int32"
          nullable: true
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
        "functionalities":
          type: "array"
          description: "An array of functionalities"
          nullable: true
          items:
            type: "object"
            properties:
              "summary":
                type: "string"
                description: "If you are trying to create a new functionality and attach it to this service, set the summary key"
                nullable: true
              "id":
                type: "string"
                description: "If you are trying to reuse a functionality, you may set the ID to attach it to the service"
                nullable: true
        "links":
          type: "array"
          description: "An array of links to associate with this service"
          nullable: true
          items:
            required:
              - "href_url"
              - "name"
            type: "object"
            properties:
              "name":
                type: "string"
                description: "Short name used to display and identify this link"
              "href_url":
                type: "string"
                description: "URL"
              "icon_url":
                type: "string"
                description: "An optional URL to an icon representing this link"
                nullable: true
        "owner":
          required:
            - "id"
          type: "object"
          properties:
            "id":
              type: "string"
          description: "An object representing a Team that owns the service"
          nullable: true
        "teams":
          type: "array"
          description: "An array of teams to attach to this service."
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "external_resources":
          type: "array"
          description: "An array of external resources to attach to this service."
          nullable: true
          items:
            required:
              - "remote_id"
            type: "object"
            properties:
              "remote_id":
                type: "string"
              "connection_type":
                type: "string"
                description: "The integration slug for the external resource. Can be one of: github, opsgenie, pager_duty, victorops. Not required if the resource has already been imported."
                nullable: true
      description: "Creates a service for the organization, you may also create or attach functionalities to the service on create."
    "ServiceEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "service_tier":
          type: "integer"
          format: "int32"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "allowed_params":
          type: "array"
          nullable: true
          items:
            type: "string"
        "labels":
          type: "object"
          description: "An object of label key and values"
          nullable: true
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "active_incidents":
          type: "array"
          description: "List of active incident guids"
          nullable: true
          items:
            type: "string"
        "checklists":
          type: "array"
          description: "List of checklists associated with a service"
          nullable: true
          items: {"$ref": "#/components/schemas/ChecklistTemplateEntity"}
        "completed_checks":
          type: "integer"
          format: "int32"
          nullable: true
        "external_resources":
          type: "array"
          description: "Information about known linkages to representations of services outside of FireHydrant."
          nullable: true
          items: {"$ref": "#/components/schemas/ExternalResourceEntity"}
        "functionalities":
          type: "array"
          description: "List of functionalities attached to the service"
          nullable: true
          items: {"$ref": "#/components/schemas/FunctionalityEntity"}
        "last_import": {"$ref": "#/components/schemas/NullableImports_ImportableResourceEntity"}
        "links":
          type: "array"
          description: "List of links attached to this service."
          nullable: true
          items: {"$ref": "#/components/schemas/LinksEntity"}
        "managed_by":
          type: "string"
          description: "If set, this field indicates that the service is managed by an integration and thus cannot be set manually"
          nullable: true
        "managed_by_settings":
          type: "object"
          description: "Indicates the settings of the catalog that manages this service"
          nullable: true
        "owner": {"$ref": "#/components/schemas/NullableTeamEntityLite"}
        "service_checklist_updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "teams":
          type: "array"
          description: "List of teams attached to the service"
          nullable: true
          items: {"$ref": "#/components/schemas/TeamEntityLite"}
        "updated_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
      description: "ServiceEntity model"
    "ChecklistTemplateEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "checks":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ChecklistCheckEntity"}
        "owner": {"$ref": "#/components/schemas/NullableTeamEntityLite"}
        "connected_services":
          type: "array"
          description: "List of services that use this checklist"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntityChecklist"}
      description: "ChecklistTemplateEntity model"
    "ChecklistCheckEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "status":
          type: "boolean"
          nullable: true
    "TeamEntityLite":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "signals_ical_url":
          type: "string"
          nullable: true
        "created_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "in_support_hours":
          type: "boolean"
          nullable: true
    "AuthorEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "source":
          type: "string"
          nullable: true
        "email":
          type: "string"
          nullable: true
    "ServiceEntityChecklist":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "service_tier":
          type: "integer"
          format: "int32"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "allowed_params":
          type: "array"
          nullable: true
          items:
            type: "string"
        "labels":
          type: "object"
          description: "An object of label key and values"
          nullable: true
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "completed_checks":
          type: "integer"
          format: "int32"
          nullable: true
        "owner": {"$ref": "#/components/schemas/NullableTeamEntityLite"}
        "service_checklist_updated_at":
          type: "string"
          format: "date-time"
          nullable: true
    "FunctionalityEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "labels":
          type: "object"
          description: "An object of label key and values"
          nullable: true
        "active_incidents":
          type: "array"
          description: "List of active incident guids"
          nullable: true
          items:
            type: "string"
        "links":
          type: "array"
          description: "List of links attached to this functionality."
          nullable: true
          items: {"$ref": "#/components/schemas/LinksEntity"}
        "owner": {"$ref": "#/components/schemas/NullableTeamEntityLite"}
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "updated_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "services":
          type: "array"
          description: "Services this functionality provides"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntityLite"}
        "external_resources":
          type: "array"
          description: "Information about known linkages to representations of services outside of FireHydrant."
          nullable: true
          items: {"$ref": "#/components/schemas/ExternalResourceEntity"}
        "teams":
          type: "array"
          description: "List of teams attached to the functionality"
          nullable: true
          items: {"$ref": "#/components/schemas/TeamEntityLite"}
      description: "FunctionalityEntity model"
    "LinksEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "href_url":
          type: "string"
          nullable: true
        "icon_url":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
    "ServiceEntityLite":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "service_tier":
          type: "integer"
          format: "int32"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "allowed_params":
          type: "array"
          nullable: true
          items:
            type: "string"
        "labels":
          type: "object"
          description: "An object of label key and values"
          nullable: true
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
      description: "ServiceEntityLite model"
    "Imports_ImportableResourceEntity":
      type: "object"
      properties:
        "import_errors":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Imports_ImportErrorEntity"}
        "imported_at":
          type: "string"
          format: "date-time"
          nullable: true
        "remote_id":
          type: "string"
          nullable: true
        "state":
          type: "string"
          nullable: true
          enum:
            - "selected"
            - "skipped"
            - "imported"
            - "errored"
    "Imports_ImportErrorEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "message":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "data":
          type: "object"
          description: "Additional error data"
          nullable: true
        "resource": {"$ref": "#/components/schemas/NullableImports_ImportErrorEntity_ResourceEntity"}
    "Imports_ImportErrorEntity_ResourceEntity":
      type: "object"
      properties:
        "resource_id":
          type: "string"
          nullable: true
        "resource_type":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
    "ServiceEntityPaginated":
      type: "object"
      properties:
        "data":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntity"}
        "pagination": {"$ref": "#/components/schemas/NullablePaginationEntity"}
      description: "ServiceEntityPaginated model"
    "create_service_links":
      required:
        - "connection_id"
        - "external_service_ids"
        - "integration"
      type: "object"
      properties:
        "external_service_ids":
          type: "string"
          description: "ID of the service"
        "connection_id":
          type: "string"
          description: "ID for the integration. This can be found by going to the edit page for the integration"
        "integration":
          type: "string"
          description: "The name of the service"
          enum:
            - "pager_duty"
            - "opsgenie"
            - "victorops"
      description: "Creates a service with the appropriate integration for each external service ID passed"
    "ServiceLinkEntity":
      type: "object"
      properties:
        "status_code":
          type: "integer"
          format: "int32"
          nullable: true
        "service": {"$ref": "#/components/schemas/NullableServiceEntity"}
      description: "ServiceLinkEntity model"
    "update_service":
      type: "object"
      properties:
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "checklists":
          type: "array"
          description: "Array of checklist IDs to attach to the service"
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
              "remove":
                type: "boolean"
                description: "Set to `true` to remove checklist from service"
                nullable: true
        "description":
          type: "string"
          nullable: true
        "external_resources":
          type: "array"
          description: "An array of external resources to attach to this service."
          nullable: true
          items:
            required:
              - "remote_id"
            type: "object"
            properties:
              "remote_id":
                type: "string"
              "connection_type":
                type: "string"
                description: "The integration slug for the external resource. Can be one of: github, opsgenie, pager_duty, victorops. Not required if the resource has already been imported."
                nullable: true
              "remove":
                type: "boolean"
                description: "If you are trying to remove an external resource from a service, set this to 'true'."
                nullable: true
        "functionalities":
          type: "array"
          description: "An array of functionalities"
          nullable: true
          items:
            type: "object"
            properties:
              "id":
                type: "string"
                description: "If you are trying to reuse a functionality, you may set the ID to attach it to the service"
                nullable: true
              "remove":
                type: "boolean"
                description: "If you are trying to remove a functionality from a service, set this to 'true'"
                nullable: true
              "summary":
                type: "string"
                description: "If you are trying to create a new functionality and attach it to this service, set the summary key"
                nullable: true
        "labels":
          type: "object"
          additionalProperties:
            type: "string"
          description: "A hash of label keys and values"
          nullable: true
        "links":
          type: "array"
          description: "An array of links to associate with this service. This will remove all links not present in the patch. Only acts if 'links' key is included in the payload."
          nullable: true
          items:
            required:
              - "href_url"
              - "name"
            type: "object"
            properties:
              "href_url":
                type: "string"
                description: "URL"
              "name":
                type: "string"
                description: "Short name used to display and identify this link"
              "icon_url":
                type: "string"
                description: "An optional URL to an icon representing this link"
                nullable: true
              "remove":
                type: "boolean"
                description: "If you are trying to remove a link, set this to 'true'"
                nullable: true
              "id":
                type: "string"
                description: "If updating an existing link, specify it's id."
                nullable: true
        "name":
          type: "string"
          nullable: true
        "owner":
          required:
            - "id"
          type: "object"
          properties:
            "id":
              type: "string"
          description: "An object representing a Team that owns the service"
          nullable: true
        "remove_owner":
          type: "boolean"
          description: "If you are trying to remove a team as an owner from a service, set this to 'true'"
          nullable: true
        "remove_remaining_checklists":
          type: "boolean"
          description: "If set to true, any checklists tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the checklists"
          nullable: true
        "remove_remaining_external_resources":
          type: "boolean"
          description: "If set to true, any external_resources tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the external_resources"
          nullable: true
        "remove_remaining_functionalities":
          type: "boolean"
          description: "If set to true, any functionalities tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the functionalities"
          nullable: true
        "remove_remaining_teams":
          type: "boolean"
          description: "If set to true, any teams tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the teams"
          nullable: true
        "service_tier":
          type: "integer"
          description: "Integer representing service tier"
          format: "int32"
          nullable: true
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
        "teams":
          type: "array"
          description: "An array of teams to attach to this service."
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
              "remove":
                type: "boolean"
                description: "If you are trying to remove a team from a service, set this to 'true'"
                nullable: true
      description: "Update a services attributes, you may also add or remove functionalities from the service as well.\nNote: You may not remove or add individual label key/value pairs. You must include the entire object to override label values.\n"
    "ServiceWithAllDependenciesEntity":
      type: "object"
      properties:
        "child_service_dependencies":
          type: "array"
          description: "Services that depend on this service"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceChildDependencyEntity"}
        "parent_service_dependencies":
          type: "array"
          description: "Services that this service is dependent on"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceParentDependencyEntity"}
        "service_dependencies":
          type: "array"
          description: "All dependencies. Can be one of: ServiceChildDependencyEntity, ServiceParentDependencyEntity"
          nullable: true
          items:
            type: "object"
      description: "ServiceWithAllDependenciesEntity model"
    "ServiceChildDependencyEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "notes":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "service": {"$ref": "#/components/schemas/NullableServiceEntity"}
        "type":
          type: "string"
          nullable: true
    "ServiceParentDependencyEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "notes":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "service": {"$ref": "#/components/schemas/NullableServiceEntity"}
        "type":
          type: "string"
          nullable: true
    "create_service_checklist_response":
      required:
        - "check_id"
        - "status"
      type: "object"
      properties:
        "check_id":
          type: "string"
        "status":
          type: "boolean"
          description: "Status of the check. 'true' if it's complete, 'false' if incomplete, or blank if not yet interacted with"
      description: "Creates a response for a checklist item"
    "create_service_dependency":
      required:
        - "connected_service_id"
        - "service_id"
      type: "object"
      properties:
        "service_id":
          type: "string"
        "connected_service_id":
          type: "string"
        "notes":
          type: "string"
          description: "A note to describe the service dependency relationship"
          nullable: true
      description: "Creates a service dependency relationship between two services"
    "ServiceDependencyEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "notes":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "service": {"$ref": "#/components/schemas/NullableServiceEntity"}
        "connected_service": {"$ref": "#/components/schemas/NullableServiceEntity"}
      description: "ServiceDependencyEntity model"
    "update_service_dependency":
      type: "object"
      properties:
        "notes":
          type: "string"
          description: "A note to describe the service dependency relationship"
          nullable: true
      description: "Update the notes of the service dependency"
    "create_functionality":
      required:
        - "name"
      type: "object"
      properties:
        "name":
          type: "string"
        "description":
          type: "string"
          nullable: true
        "services":
          type: "array"
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
                description: "ID of a service"
        "labels":
          type: "object"
          additionalProperties:
            type: "string"
          description: "A hash of label keys and values"
          nullable: true
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "external_resources":
          type: "array"
          description: "An array of external resources to attach to this service."
          nullable: true
          items:
            required:
              - "remote_id"
            type: "object"
            properties:
              "remote_id":
                type: "string"
              "connection_type":
                type: "string"
                description: "The integration slug for the external resource. Can be one of: github, opsgenie, pager_duty, statuspage, victorops. Not required if the resource has already been imported."
                nullable: true
        "links":
          type: "array"
          description: "An array of links to associate with this service"
          nullable: true
          items:
            required:
              - "href_url"
              - "name"
            type: "object"
            properties:
              "name":
                type: "string"
                description: "Short name used to display and identify this link"
              "href_url":
                type: "string"
                description: "URL"
              "icon_url":
                type: "string"
                description: "An optional URL to an icon representing this link"
                nullable: true
        "owner":
          required:
            - "id"
          type: "object"
          properties:
            "id":
              type: "string"
          description: "An object representing a Team that owns the service"
          nullable: true
        "teams":
          type: "array"
          description: "An array of teams to attach to this service."
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
      description: "Creates a functionality for the organization"
    "FunctionalityEntityPaginated":
      type: "object"
      properties:
        "data":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/FunctionalityEntity"}
        "pagination": {"$ref": "#/components/schemas/NullablePaginationEntity"}
      description: "FunctionalityEntityPaginated model"
    "update_functionality":
      type: "object"
      properties:
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "services":
          type: "array"
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
                description: "ID of a service"
              "remove":
                type: "boolean"
                description: "Set to true if you want to remove the given service from the functionality"
                nullable: true
        "links":
          type: "array"
          description: "An array of links to associate with this functionality. This will remove all links not present in the patch. Only acts if 'links' key is included in the payload."
          nullable: true
          items:
            required:
              - "href_url"
              - "name"
            type: "object"
            properties:
              "href_url":
                type: "string"
                description: "URL"
              "name":
                type: "string"
                description: "Short name used to display and identify this link"
              "icon_url":
                type: "string"
                description: "An optional URL to an icon representing this link"
                nullable: true
              "remove":
                type: "boolean"
                description: "If you are trying to remove a link, set this to 'true'"
                nullable: true
              "id":
                type: "string"
                description: "If updating an existing link, specify it's id."
                nullable: true
        "owner":
          required:
            - "id"
          type: "object"
          properties:
            "id":
              type: "string"
          description: "An object representing a Team that owns the functionality"
          nullable: true
        "remove_owner":
          type: "boolean"
          description: "If you are trying to remove a team as an owner from a functionality, set this to 'true'"
          nullable: true
        "teams":
          type: "array"
          description: "An array of teams to attach to this functionality."
          nullable: true
          items:
            required:
              - "id"
            type: "object"
            properties:
              "id":
                type: "string"
              "remove":
                type: "boolean"
                description: "If you are trying to remove a team from a functionality, set this to 'true'"
                nullable: true
        "remove_remaining_teams":
          type: "boolean"
          description: "If set to true, any teams tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the teams"
          nullable: true
        "external_resources":
          type: "array"
          description: "An array of external resources to attach to this service."
          nullable: true
          items:
            required:
              - "remote_id"
            type: "object"
            properties:
              "remote_id":
                type: "string"
              "connection_type":
                type: "string"
                description: "The integration slug for the external resource. Can be one of: github, opsgenie, pager_duty, statuspage, victorops. Not required if the resource has already been imported."
                nullable: true
              "remove":
                type: "boolean"
                description: "If you are trying to remove an external resource from a service, set this to 'true'."
                nullable: true
        "remove_remaining_external_resources":
          type: "boolean"
          description: "If set to true, any external_resources tagged on the service that are not included in the given array will be removed. Set this to true if you want to do a replacement operation for the external_resources"
          nullable: true
        "labels":
          type: "object"
          additionalProperties:
            type: "string"
          description: "A hash of label keys and values"
          nullable: true
        "alert_on_add":
          type: "boolean"
          nullable: true
        "auto_add_responding_team":
          type: "boolean"
          nullable: true
        "remove_remaining_services":
          type: "boolean"
          description: "Set this to true if you want to remove all of the services that are not included in the services array from the functionality"
          nullable: true
          default: false
      description: "Update a functionalities attributes"
    "FunctionalityWithAllServicesEntity":
      type: "object"
      properties:
        "services":
          type: "array"
          description: "Services this functionality provides"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntity"}
      description: "FunctionalityWithAllServicesEntity model"
    "create_team":
      required:
        - "name"
      type: "object"
      properties:
        "name":
          type: "string"
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "slack_channel_id":
          type: "string"
          description: "The Slack channel ID associated with this team. This may be the reference in FireHydrant's system (i.e. UUID) or the ID value from Slack (e.g. C1234567890).\n"
          nullable: true
        "ms_teams_channel":
          required:
            - "channel_id"
            - "ms_team_id"
          type: "object"
          properties:
            "channel_id":
              type: "string"
            "ms_team_id":
              type: "string"
          description: "MS Teams channel identity for channel associated with this team"
          nullable: true
        "memberships":
          type: "array"
          nullable: true
          items:
            type: "object"
            properties:
              "user_id":
                type: "string"
                description: "The ID of a user to add to the team. This parameter is mutually exclusive with schedule_id and signals_on_call_schedule_id."
                nullable: true
              "schedule_id":
                type: "string"
                description: "The ID of a third-party on-call schedule to add to the team, allowing you to specify that whoever is on call for this schedule when the team is assigned to an incident gets added to the incident and optionally assigned to the configured incident role. This parameter is mutually exclusive with user_id and signals_on_call_schedule_id."
                nullable: true
              "signals_on_call_schedule_id":
                type: "string"
                description: "The ID of a Signals on-call schedule to add to the team, allowing you to specify that whoever is on call for this schedule when the team is assigned to an incident gets added to the incident and optionally assigned to the configured incident role.. This parameter is mutually exclusive with user_id and schedule_id."
                nullable: true
              "incident_role_id":
                type: "string"
                description: "An incident role ID that the user will automatically assigned if this team is assigned to an incident"
                nullable: true
        "invite_emails":
          type: "array"
          description: "A list of email addresses to invite to join the organization and automatically add to this team. If an email already has a pending invitation, the team will be added to their existing invitation."
          nullable: true
          items:
            type: "string"
      description: "Create a new team"
    "TeamEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "signals_ical_url":
          type: "string"
          nullable: true
        "created_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "in_support_hours":
          type: "boolean"
          nullable: true
        "slack_channel": {"$ref": "#/components/schemas/NullableIntegrations_Slack_SlackChannelEntity"}
        "ms_teams_channel": {"$ref": "#/components/schemas/NullableIntegrations_MicrosoftTeamsV2_ChannelEntity"}
        "memberships":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/MembershipEntity"}
        "owned_checklist_templates":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ChecklistTemplateEntity"}
        "owned_functionalities":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/FunctionalityEntityLite"}
        "owned_services":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntityLite"}
        "owned_runbooks":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/SlimRunbookEntity"}
        "responding_services":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntityLite"}
        "services":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/ServiceEntityLite"}
        "functionalities":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/FunctionalityEntityLite"}
        "default_signals_escalation_policy": {"$ref": "#/components/schemas/NullableSuccinctEntity"}
      description: "TeamEntity model"
    "Integrations_Slack_SlackChannelEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "slack_channel_id":
          type: "string"
          nullable: true
    "Integrations_MicrosoftTeamsV2_ChannelEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "channel_id":
          type: "string"
          nullable: true
        "channel_name":
          type: "string"
          nullable: true
        "ms_team_id":
          type: "string"
          nullable: true
        "team_name":
          type: "string"
          nullable: true
        "channel_url":
          type: "string"
          nullable: true
        "status":
          type: "string"
          nullable: true
        "incident": {"$ref": "#/components/schemas/NullableIncidentEntity"}
    "IncidentEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          description: "UUID of the Incident"
          nullable: true
        "name":
          type: "string"
          description: "Name of the incident"
          nullable: true
        "created_at":
          type: "string"
          description: "The time the incident was opened"
          format: "date-time"
          nullable: true
        "started_at":
          type: "string"
          description: "The time the incident started"
          format: "date-time"
          nullable: true
        "discarded_at":
          type: "string"
          description: "The time the incident was archived"
          format: "date-time"
          nullable: true
        "summary":
          type: "string"
          nullable: true
        "customer_impact_summary":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "current_milestone":
          type: "string"
          description: "The type/slug of the current milestone. Will be one of the currently configured milestones for the given incident."
          nullable: true
        "number":
          type: "integer"
          description: "Incident number"
          format: "int32"
          nullable: true
        "priority":
          type: "string"
          nullable: true
        "severity":
          type: "string"
          nullable: true
        "severity_color":
          type: "string"
          nullable: true
        "severity_impact":
          type: "string"
          nullable: true
        "severity_condition":
          type: "string"
          nullable: true
        "tag_list":
          type: "array"
          nullable: true
          items:
            type: "string"
        "incident_type": {"$ref": "#/components/schemas/NullableSuccinctEntity"}
        "severity_impact_object": {"$ref": "#/components/schemas/NullableSeverityMatrix_ImpactEntity"}
        "severity_condition_object": {"$ref": "#/components/schemas/NullableSeverityMatrix_ConditionEntity"}
        "private_id":
          type: "string"
          nullable: true
        "organization_id":
          type: "string"
          nullable: true
        "milestones":
          type: "array"
          description: "DEPRECATED: Please use lifecycle phases instead"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_MilestoneEntity"}
        "lifecycle_phases":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_LifecyclePhaseEntity"}
        "lifecycle_measurements":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_LifecycleMeasurementEntity"}
        "active":
          type: "boolean"
          nullable: true
        "labels":
          type: "object"
          description: "A key/value of labels"
          nullable: true
        "role_assignments":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_RoleAssignmentEntity"}
        "status_pages":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_StatusPageEntity"}
        "incident_url":
          type: "string"
          nullable: true
        "private_status_page_url":
          type: "string"
          nullable: true
        "organization": {"$ref": "#/components/schemas/NullableOrganizationEntity"}
        "customers_impacted":
          type: "integer"
          format: "int32"
          nullable: true
        "monetary_impact":
          type: "integer"
          format: "int32"
          nullable: true
        "monetary_impact_cents":
          type: "integer"
          format: "int32"
          nullable: true
        "last_update":
          type: "string"
          nullable: true
        "last_note": {"$ref": "#/components/schemas/NullableEvent_NoteEntity"}
        "report_id":
          type: "string"
          nullable: true
        "ai_incident_summary":
          type: "string"
          nullable: true
        "services":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/SuccinctEntity"}
        "environments":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/SuccinctEntity"}
        "functionalities":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/SuccinctEntity"}
        "channel_name":
          type: "string"
          nullable: true
        "channel_reference":
          type: "string"
          nullable: true
        "channel_id":
          type: "string"
          nullable: true
        "channel_status":
          type: "string"
          description: "inoperative: 0, operational: 1, archived: 2"
          nullable: true
        "incident_tickets":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Ticketing_TicketEntity"}
        "ticket": {"$ref": "#/components/schemas/NullableTicketing_TicketEntity"}
        "impacts":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_ImpactEntity"}
        "conference_bridges":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_ConferenceBridgeEntity"}
        "incident_channels":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_ChannelEntity"}
        "retro_exports":
          type: "array"
          description: "A list of objects attached to this item. Can be one of: LinkEntity, CustomerSupportIssueEntity, or GenericAttachmentEntity"
          nullable: true
          items:
            type: "object"
        "created_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "context_object": {"$ref": "#/components/schemas/NullableIncidents_ContextObjectEntity"}
        "team_assignments":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_TeamAssignmentEntityLite"}
        "conversations":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Conversations_API_Entities_Reference"}
        "custom_fields":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/CustomFields_FieldValue"}
        "field_requirements":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/IncidentEntity_FieldRequirementEntity"}
      description: "IncidentEntity model"
    "SuccinctEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
    "SeverityMatrix_ImpactEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "type":
          type: "string"
          nullable: true
        "affects_id":
          type: "string"
          nullable: true
        "position":
          type: "integer"
          format: "int32"
          nullable: true
      description: "SeverityMatrix_ImpactEntity model"
    "SeverityMatrix_ConditionEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "position":
          type: "integer"
          description: "Position is used to determine ordering of conditions in API responses and dropdowns. The condition with the lowest position (typically 0) will be considered the Default Condition"
          format: "int32"
          nullable: true
      description: "SeverityMatrix_ConditionEntity model"
    "Incidents_MilestoneEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "type":
          type: "string"
          description: "The milestone's type. This will be one of the currently configured milestones for the given incident."
          nullable: true
        "duration":
          type: "string"
          description: "How long the incident spent in this milestones, in ISO 8601 Duration Format. This will be null if the milestone is the incident's current milestone."
          nullable: true
        "occurred_at":
          type: "string"
          format: "date-time"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
    "Incidents_LifecyclePhaseEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "type":
          type: "string"
          nullable: true
        "position":
          type: "integer"
          format: "int32"
          nullable: true
        "milestones":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_LifecycleMilestoneEntity"}
    "Incidents_LifecycleMilestoneEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "position":
          type: "integer"
          format: "int32"
          nullable: true
        "occurred_at":
          type: "string"
          format: "date-time"
          nullable: true
        "duration":
          type: "string"
          nullable: true
        "updated_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
    "Incidents_LifecycleMeasurementEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
          nullable: true
        "starts_at_milestone":
          type: "string"
          nullable: true
        "ends_at_milestone":
          type: "string"
          nullable: true
        "value":
          type: "string"
          nullable: true
        "calculated_at":
          type: "string"
          format: "date-time"
          nullable: true
    "Incidents_RoleAssignmentEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "status":
          type: "string"
          nullable: true
          enum:
            - "active"
            - "inactive"
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "incident_role": {"$ref": "#/components/schemas/NullableIncidentRoleEntity"}
        "user": {"$ref": "#/components/schemas/NullableUserEntity"}
      description: "Incidents_RoleAssignmentEntity model"
    "IncidentRoleEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "summary":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "discarded_at":
          type: "string"
          format: "date-time"
          nullable: true
      description: "IncidentRoleEntity model"
    "UserEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "email":
          type: "string"
          nullable: true
        "slack_user_id":
          type: "string"
          nullable: true
        "slack_linked?":
          type: "boolean"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "signals_enabled_notification_types":
          type: "array"
          nullable: true
          items:
            type: "string"
        "signals_notification_policy_compliance":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Signals_API_NotificationPolicyItemComplianceEntity"}
      description: "UserEntity model"
    "Signals_API_NotificationPolicyItemComplianceEntity":
      type: "object"
      properties:
        "notification_policy_item_id":
          type: "string"
          nullable: true
        "is_compliant":
          type: "boolean"
          nullable: true
    "Incidents_StatusPageEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "url":
          type: "string"
          nullable: true
        "external_id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "display_name":
          type: "string"
          nullable: true
        "integration": {"$ref": "#/components/schemas/NullableIntegrationEntity"}
      description: "Incidents_StatusPageEntity model"
    "IntegrationEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "integration_name":
          type: "string"
          nullable: true
        "integration_slug":
          type: "string"
          nullable: true
        "display_name":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
    "Event_NoteEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "body":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "status_pages":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Incidents_StatusPageEntity"}
        "conversations":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Conversations_API_Entities_Reference"}
      description: "Event_NoteEntity model"
    "Conversations_API_Entities_Reference":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "resource_class":
          type: "string"
          nullable: true
        "resource_id":
          type: "string"
          nullable: true
        "field":
          type: "string"
          nullable: true
        "comments_url":
          type: "string"
          nullable: true
        "channel": {"$ref": "#/components/schemas/NullableConversations_API_Entities_Channel"}
    "Conversations_API_Entities_Channel":
      type: "object"
      properties:
        "name":
          type: "string"
          nullable: true
    "Ticketing_TicketEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "summary":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "state":
          type: "string"
          nullable: true
          enum:
            - "open"
            - "in_progress"
            - "cancelled"
            - "done"
        "type":
          type: "string"
          nullable: true
          enum:
            - "incident"
            - "task"
            - "follow_up"
        "assignees":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/AuthorEntity"}
        "priority": {"$ref": "#/components/schemas/NullableTicketing_PriorityEntity"}
        "created_by": {"$ref": "#/components/schemas/NullableAuthorEntity"}
        "attachments":
          type: "array"
          description: "A list of objects attached to this item. Can be one of: LinkEntity, CustomerSupportIssueEntity, or GenericAttachmentEntity"
          nullable: true
          items:
            type: "object"
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "tag_list":
          type: "array"
          nullable: true
          items:
            type: "string"
        "incident_id":
          type: "string"
          description: "ID of incident that this ticket is related to"
          nullable: true
        "incident_name":
          type: "string"
          description: "Name of incident that this ticket is related to"
          nullable: true
        "incident_current_milestone":
          type: "string"
          description: "Milestone of incident that this ticket is related to"
          nullable: true
        "task_id":
          type: "string"
          description: "ID of task that this ticket is related to"
          nullable: true
        "due_at":
          type: "string"
          format: "date-time"
          nullable: true
        "sync_error_message":
          type: "string"
          description: "Error message from syncing this ticket to integrations"
          nullable: true
        "link": {"$ref": "#/components/schemas/NullableAttachments_LinkEntity"}
      description: "Ticketing_TicketEntity model"
    "Ticketing_PriorityEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "position":
          type: "integer"
          format: "int32"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
      description: "Ticketing_PriorityEntity model"
    "Attachments_LinkEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "type":
          type: "string"
          nullable: true
        "display_text":
          type: "string"
          nullable: true
        "href_url":
          type: "string"
          nullable: true
        "icon_url":
          type: "string"
          nullable: true
        "editable":
          type: "boolean"
          description: "Link can be edited"
          nullable: true
        "deletable":
          type: "boolean"
          description: "Link can be deleted"
          nullable: true
      description: "Attachments_LinkEntity model"
    "Incidents_ImpactEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "type":
          type: "string"
          nullable: true
          enum:
            - "customer"
            - "environment"
            - "functionality"
            - "service"
        "impact": {"$ref": "#/components/schemas/NullableSuccinctEntity"}
        "condition": {"$ref": "#/components/schemas/NullableSeverityMatrix_ConditionEntity"}
        "conversations":
          type: "array"
          nullable: true
          items: {"$ref": "#/components/schemas/Conversations_API_Entities_Reference"}
    "Incidents_ConferenceBridgeEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "attachments":
          type: "array"
          description: "A list of objects attached to this item. Can be one of: LinkEntity, CustomerSupportIssueEntity, or GenericAttachmentEntity"
          nullable: true
          items:
            type: "object"
        "has_translated_transcripts":
          type: "boolean"
          nullable: true
        "language_codes":
          type: "array"
          description: "A list of language codes that have translated transcripts for this conference bridge"
          nullable: true
          items:
            type: "string"
        "transcription_status":
          type: "string"
          nullable: true
        "transcription_sub_code":
          type: "string"
          nullable: true
        "previous_host_assignment":
          type: "string"
          nullable: true
      description: "Incidents_ConferenceBridgeEntity model"
    "Incidents_ChannelEntity":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "name":
          type: "string"
          nullable: true
        "source":
          type: "string"
          nullable: true
        "source_name":
          type: "string"
          nullable: true
        "source_id":
          type: "string"
          nullable: true
        "url":
          type: "string"
          nullable: true
        "icon_url":
          type: "string"
          nullable: true
        "status":
          type: "string"
          nullable: true
      description: "Incidents_ChannelEntity model"
    "Incidents_ContextObjectEntity":
      type: "object"
      properties:
        "object_type":
          type: "string"
          nullable: true
        "object_id":
          type: "string"
          nullable: true
        "context_tag":
          type: "string"
          nullable: true
        "context_description":
          type: "string"
          nullable: true
    "Incidents_TeamAssignmentEntityLite":
      type: "object"
      properties:
        "id":
          type: "string"
          nullable: true
        "status":
          type: "string"
          nullable: true
        "created_at":
          type: "string"
          format: "date-time"
          nullable: true
        "updated_at":
          type: "string"
          format: "date-time"
          nullable: true
        "team": {"$ref": "#/components/schemas/NullableTeamEntityLite"}
    "CustomFields_FieldValue":
      type: "object"
      properties:
        "name":
          type: "string"
          nullable: true
        "value_type":
          type: "string"
          nullable: true
        "display_name":
          type: "string"
          nullable: true
        "description":
          type: "string"
          nullable: true
        "slug":
          type: "string"
[...]
